body{
background-color:#f6f5f5;
margin :0px;
padding: 0px;

}
/*Navigation */
ul{list-style:none;}
a{text-decoration: none;}
section{
width: 100%;
height: 95vh;
background-image: url("../image/bg2.png");
background-repeat: no-repeat;
background-size: cover;
position: relative;
}
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    padding: 0px 5%;
}
nav ul{
    display: flex;;
}
.toggle{
	display: none;
}
nav ul li a{
	margin:30px;
	font-family:myriad pro regular;
	color:#505050;
	font-size: 15px;
	font-weight:700;
}
.logo{
	font-family:RoadTest;
	color:#000000;
	font-size: 22px;
}
.home{
	color:#2d2a2a;
	font-weight:bold;
}
/*````````````````````````````````````````````````````````````````````*/
/*content*/
/*my phote*/
.model{
	height:750px;
	position:absolute;
	bottom:40px;
	right:45%;
	transform: translateX(-5%);
	transition: transform 4s .25s cubic-bezier(0,1,.3,1),filter 10s 2s ease-out;
	will-change: transform;
	
}
.model:hover{
	transform: translate(-350px,0);
}

/*content*/
/*my introduc*/
    .text-container p:nth-child(1){
        font-family: calibri;
        font-weight:bold;
        color:#00fff2;
        font-size:22px;
    }
    .text-container p:nth-child(2){
        font-family:calibri;
        font-weight:bold;
        letter-spacing:1px;
        color:#1a1a1a;
        font-size:60px;
        
    }
    .text-container p:nth-child(3){
        font-family: myriad pro regular;
        color: #00fff2;
        font-size:30px;
        line-height:30px;
    }
    
    .text-container p{
        margin:45px 0px 25px;
        line-height:0px;
}
    /* --button */
        .text-container button{
            width:195px;
            height:63px;
            border-radius:10px;
            font-family:calibri;
            font-weight:bold;
            font-size: 30px;
            outline:none;
            margin:0px 10px;
            
        }
        .text-container{
            position: absolute;
            right:13%;
            top:42%;
            transform:translate(-13%,-42%);
            
        }
        .hire-btn{
            border:4px solid #01f366;
            color:#15ff00;
            background-color:transparent;
            
        }
        .down-cv{
            background-color:#0B0B0B;
            color:#fff;	
            border:none;
        }
        button:active{
            transform:scale(1.1);
        }
/*Skill section*/
.skill{
	height:600px;
	background-color:#ffffff;
	padding: 2% 10% 0px 10%;
}
.skill-text p:nth-child(1){
	
	font-weight:bold;
	color:#1d1c1c;
	font-size:30px;
	line-height:0px;
}
.services-text p:nth-child(2){
	
	font-weight: bold;
	color:#3e3d3d;
	font-size: 15px;
	line-height: 5px;
}
.services-text p:nth-child(3){
font-family:calibri;
color:#7e7d7d;
font-size: 20;}
.services-text{
	width: 500px;
	margin:50px 0px;
}
.box-container{
	display:flex;
	justify-content:space-between;
}
.box-1,.box-2,.box-3{
	width: 300px;
	height:320px;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow:2px 2px 18px rgba(0,0,0,0.3);
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
	margin: 0px 4px;
	
	
}

.box-1 span,.box-2 span,.box-3 span{
	width:40px;
	height:40px;
	border-radius:50%;
	background-color:#fdfdfd;
	display: flex;
	justify-content: center;
	align-items:center;
	font-family: calibri;
	font-weight: bold;
}
.box-1 p:nth-child(2),.box-2 p:nth-child(2),.box-3 p:nth-child(2){
	color:#000000;
	font-family: calibri;
	font-size: 23px;
	line-height:0px;
}
.box-1 p:nth-child(3),.box-2 p:nth-child(3),.box-3 p:nth-child(3){
	font-family: calibri;
	color:#8F8F8F;
	text-align:center;
	width: 230px;
	margin:0px 0px 20px 0px;
}
/* read more*/
.box-1 button,.box-2 button,.box-3 button{
	width:100px;
	height:30px;
	background-color:#FFFFFF;
	border:none;
	outline: none;
	border-radius:5px;
}
 

